/* gm21007-ejercicio2.css   SUCARNET  */

pais{background-color:white;}
departamento{background-color:blue; display:block;}
cabecera{color:white; display:inline;}
habitantes{color:white; display:inline;}
Areaterritorial{color:black; display:inline;}
cantidadDistritos{color:black; display:inline;}
altura{color:black; display:inline;}