/* mb21004-ejemplo1b.css   SUCARNET  */

fichero {background-color:gray;}
ficha {background-color:red; display:block;} 
nombre {color:white; display:inline;} 
apellido {color:yellow; display:inline;}
direccion{color:cyan;font-size:1cm; display:none;}
correo {color:blue;font-size:1cm; display:inline;}
telefono{color:green; display:inline;}
dui {color:rgb(48, 246, 21); display:inline;}
afp {color:rgb(223, 185, 210); display:inline;}
isss {color:rgb(57, 75, 82); display:inline;}
